<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to http://www.dine-media.com/, <h5><%= @user.name %><h5></h1>
    <p>
      You have successfully signed up to http://www.parkcontrols.com/,<br>
      your user_email is: <h5><%= @user.email %></h5><br>
      your user_company is: <h5><%= @user.company %></h5><br>
    
      your user_phone_no is: <h5><%= @user.phone %></h5><br>
    
      your user_quaries is: <h5><%= @user.quaries%></h5><br>
    </p>
    <p>
     To see your order kindle confirm your password: <h5>http://www.parkcontrols.com/</h5>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>